# Ignore node modules everywhere
node_modules/
**/node_modules/

# Next.js build
.next/
out/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Environment
.env
.env.local

# VS Code
.vscode/

# macOS
.DS_Store

# IDE directories
.idea/
