NEXT_PUBLIC_GRAPHQL_URL=http://localhost:4000/graphql
GRAPHQL_URL=http://localhost:4000/graphql
NEXT_PUBLIC_OIDC_ISSUER=https://example-issuer.com
NEXT_PUBLIC_OIDC_CLIENT_ID=bookclub-web
OIDC_CLIENT_SECRET=***
RESEND_API_KEY=***
DATABASE_URL=postgres://user:pass@localhost:5432/bookclub
VERCEL_TOKEN=***
NODE_ENV=development
