NEXT_PUBLIC_SUPABASE_URL= https://jobwaopukhkyxdwmlgto.supabase.co/rest/v1/
NEXT_PUBLIC_SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpvYndhb3B1a2hreXhkd21sZ3RvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc5MjY3NDYsImV4cCI6MjA5MzUwMjc0Nn0.3ncWKEs3JfbgCLJ_hhpri_s8sJ8FJt1CSjUCEwi3x78
SUPABASE_SERVICE_ROLE_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpvYndhb3B1a2hreXhkd21sZ3RvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzkyNjc0NiwiZXhwIjoyMDkzNTAyNzQ2fQ.G5m9N29bEiC315tIbh2yNZkSeUrBvXxKqIm-IdIcKDY
SUPABASE_DB_URL= postgresql://postgres:MarGid1604!@db.jobwaopukhkyxdwmlgto.supabase.co:5432/postgres
NEXT_PUBLIC_APP_ENV=
